awscli
Django
PyJWT
algoliasearch
apns2
baker
bcrypt
berbix
boto
boto3
coreapi
croniter
django-after-response
django-autoslug-iplweb
django-ckeditor
django-constance
django-cors-headers
django-filter
django-ipware
django-redis
django-silk
django-storages
django_facebook
djangorestframework
-e git+https://github.com/omniprojects/drf-extensions#egg=drf-extensions
-e git+https://github.com/omniprojects/drf-tracking#egg=drf-tracking
-e git+https://github.com/supervisor/Supervisor#egg=supervisor
flake8
flask
flask-cors
flask_graphql
flask_mako
freezegun
geoip2
geopy
gevent
gitpython
gnsq
google-api-python-client
googlemaps
graphene
graphene-file-upload
gunicorn
ipython
isort
kount_ris_sdk
linode-cli
mako
mixpanel
numpy
oauth2client
opencv-python
phonenumbers
pgpubsub
pip-tools
pre-commit
psycopg2 --no-binary psycopg2
pycups
pygments
pynacl
pytest
python-dateutil
python-intercom
python-Levenshtein
python-slugify
pytz
pyyaml
qrcode[pil]
raven
redis
requests
rq
salt
sendgrid
sentry-sdk
slacker
stripe
twilio
ua_parser
unittest-xml-reporting
usaddress
usaddress-scourgify
virtualenv
websocket-client
WeasyPrint
