Django
PyJWT
apache-airflow
algoliasearch
apns2
baker
bcrypt
boto
boto3
coreapi
django-after-response
django-autoslug-iplweb
django-ckeditor
django-cors-headers
django-filter
django-ipware
django-redis
django-silk
django-storages
django_facebook
djangorestframework
-e git+https://github.com/omniprojects/drf-extensions#egg=drf-extensions
-e git+https://github.com/omniprojects/drf-tracking#egg=drf-tracking markdown
mako
mixpanel
numpy
phonenumbers
pip-tools
psycopg2-binary
pygments
python-dateutil
python-intercom
pytz
pyyaml
raven
redis
requests
rq
salt
sendgrid
stripe
supervisor
supervisor-wildcards
twilio
unittest-xml-reporting
virtualenv
