awscli
Django
PyJWT
apache-airflow
algoliasearch
apns2
baker
barcode
bcrypt
boto
boto3
coreapi
django-after-response
django-autoslug-iplweb
django-ckeditor
django-constance
django-cors-headers
django-filter
django-ipware
django-redis
django-silk
django-storages
django_facebook
djangorestframework
-e git+https://github.com/omniprojects/drf-extensions#egg=drf-extensions
-e git+https://github.com/omniprojects/drf-tracking#egg=drf-tracking
-e git+https://github.com/supervisor/Supervisor#egg=supervisor
freezegun
geoip2
geopy
gevent
google-api-python-client
gsutil
mako
mixpanel
numpy
oauth2client
phonenumbers
pgpubsub
pip-tools
psycopg2
pygments
pynacl
pynsq
python-dateutil
python-intercom
python-Levenshtein
pytz
pyyaml
qrcode[pil]
raven
redis
requests
rq
salt
sendgrid
sentry-sdk
slacker
stripe
twilio
unittest-xml-reporting
virtualenv
websocket-client
WeasyPrint
